.fav-list-filter-container{
    background-color: bisque;
    margin: 50px 50px 0 50px;
    display: flex;
    justify-content: space-between;
}
.left-filter{
    display: flex;
    gap: 2px;
}
.right-filter{
    display: flex;
    gap: 2px;
}
.filter-button {
    background-color: #222;
    width: fit-content;
    min-width: 45px;
    padding: 0 8px;
    border-radius: 8px;
    text-align: center;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  .vertical-line{
    margin: 0 9px;
    width: 1px;
    background-color: #222;
  }

  .select-dropdown {
    position: relative;
  }
  
  .arrow {
    margin-left: 8px;
    transition: transform 0.2s ease;
  }
  
  .arrow-up {
    transform: rotate(180deg);
  }
  /* imp */
  .dropdown-menu {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: 100%;
    background-color: #222222;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 10;
    max-height: 320px;
    overflow-y: auto;
  }
  
  .dropdown-item {
    width: 100%;
    padding: 8px 16px;
    text-align: left;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .dropdown-item:hover {
    background-color: #424242;
  }
  .select-button {
    height: 36px;
    background-color: #222222;
    color: white;
    padding: 0 16px;
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 80px;
    cursor: pointer;
  }

  .dropdown-menu::-webkit-scrollbar {
    width: 8px;
  }
  
  .dropdown-menu::-webkit-scrollbar-track {
    background: #2a2a2a;
    border-radius: 4px;
  }
  
  .dropdown-menu::-webkit-scrollbar-thumb {
    background: #444444;
    border-radius: 4px;
  }
  
  .dropdown-menu::-webkit-scrollbar-thumb:hover {
    background: #424242;
  }
  